* {
    font-family: 'playfair display';
    background-repeat: no-repeat;
    position: relative;
    text-shadow: black 1px 1px;
    color: white;
}

body {
    background-image:url(./images/flag2.jpg);
    background-size:100% 100%;
}

/*HEADING*/
.container-1 {
    color: white;
    height: 200px;
    margin-bottom: 10px;
}

.logo-heading {
    display:flex;
    height:max-content;
}
@media screen and (max-width: 780px) {
    .box2, h1 {
        font-size: 35px;
        padding-top: 20px;
    }
}


.box1 {
    background-image: url(./images/logo4.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width:100px;
}

.box2 {
  
    background-size: cover;
    font-size: 2rem;
    text-align: center;
    height: 150px;
    width:100%;
    flex: 1;
}

.box3 {
    background-image: url(./images/logo4.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width:100px;
}

@media screen and (max-width: 780px) {
    .box1, .box3 {
        display: none;
    }
}

.container-2 {
    height: 70px;
    margin-bottom: 10px;
}

/*NAV*/

.menu {
    display:flex;
    height:max-content;
}

.menu, nav, a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    width: 100%vh;
    height: max-content;
    justify-content: center;
    text-decoration: none;
    padding: 0 40px;
}

nav :hover {
    color: blue;
}
@media screen and (max-width: 785px) {
    .container-2 {
        display: none;
    }
}

/*MISSION*/

.container-3 {
    color: white;
    height: 300px;
    margin-bottom: 10px;
    object-fit: contain;
}

#banner {
    display: flex;
    position: relative;
    background-image: url(./images/header-background2.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    flex-direction: column;
    height: 200px;
    width: 100%;
    border: white solid 1px;
    border-radius: 8px;
}

.banner-info {
    padding-top: 80px;
    height: 100%;
    font-size: 2rem;
    text-align: center;

}

.title {
    color: white;
    font-size: 30px;
    text-align: center;
    text-shadow: black 2px 1px;
}
@media screen and (max-width: 780px) {
    .title {
        font-size: 23px;
    }
}


/* Services*/

.container-4 {
    color: white;
    height: max-content;
    margin-bottom: 10px;
}

#services {
    display: flex;
    font-size: 25px;
}

#services > div {
    flex-basis: calc(50% - 40px);  
    justify-content: center;
    flex-direction: column;
    margin: 20px;
    border-radius: 8px;
}
#services > * {
    flex-basis: 100%;
}

.modern {
    background-image: url(./images/modern-muscle.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
    width:120px;
    border: white solid 1px;
}

.classics {
    background-image: url(./images/low-rider.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
    width:120px;
    border: white solid 1px;
}

.restoration {
    background-image: url(./images/projects.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
    width:120px;
    border: white solid 1px;
}

.parts {
    background-image: url(./images/parts2.jpg);
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 300px;
    width:120px;
    border: white solid 1px;
}

@media screen and (max-width: 780px) {
    #services {
        width: 950px;
        flex-wrap: wrap;
    }
    .modern, .classics, .restoration, .parts {
        height: 100px;
        background-size: 100%;
    }
    .modern {
        position: relative;

    }
}

/*THE TEAM*/
.container-5 {
    color: white;
    background-image: url(./images/flag2.jg);
    height: 500px;
    margin-bottom: 40px;
    justify-content: center;
}

#meet { 
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
    text-align: center;
    height: 100px;
    width:100%;
}
h3 {
    color: white;
    font-size: 25px;
}

#pic1, #pic2 {
    border-radius: 8px;
    border: white solid 1px;
}

@media screen and (max-width: 780px) {
    #meet {
        display: column;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .container-5 {
        height: 930px;
    }
    h3 {
        font-size: 23px;
    }
    #pic1, #pic2 {
      height: 300px;
      width: 300px;
    }
}

p {
    font-size: 20px;
}

/*CONTACT*/
#contact {
    color: black;
    font-size: 25px;
    text-align: center;
}
@media screen and (max-width: 780px) {
    #contact {
        font-size: 20px;
        margin-top: 30px;
    }    
}

/*COPYRIGHT*/
#copy {
    margin-top: 10px;
    text-align: right;
}
@media screen and (max-width: 780px) {
    #copy {
        text-align: center;
    }
}